<nz-layout>
  <nz-header></nz-header>
  <nz-content>

      <div class="select">
        <h1> Select Game </h1>
        <button (click)="Single()">Single</button>
        <br>
        <button (click)="Online()">Online</button>
        <br>
        <button (click)="Puzzle">Puzzle Game</button>
        <br>
        <button (click)="Hist()">History</button>
     </div>
  <nz-modal [(nzVisible)] = "recVisible" nzTitle="Record" (nzOnCancel)="handleCancel()"> 
  <ul class= "records">
    <li *ngFor="let record of records" (click)="onSelect_rec(record)">
        <span class="badge">{{record.gameId}}</span>Date:{{record.date}}
    </li>
  </ul>
  </nz-modal>

  <nz-modal [(nzVisible)] = "puzVisible" nzTitle="Puzzles" (nzOnCancel)="handleCancel()"> 
  <ul class= "puzzles">
    <li *ngFor="let puzzle of puzzles" (click)="onSelect_puz(puzzle)">
        <span class="badge">{{record.gameId}}</span>{{record.puzzleName}}
    </li>
  </ul>
  </nz-modal>

  </nz-content>
</nz-layout>
