<nz-layout>
  <nz-header></nz-header>
  <nz-content>

    <div class="login">

      <h1> Shogi Web </h1>
      <form nz-form [formGroup]="loginForm" class="login-form" (ngSubmit)="submitForm()">
        <nz-form-item>
          <nz-form-control nzErrorTip="Please input your username!">
            <nz-input-group nzPrefixIcon="user">
              <input type="text" nz-input formControlName="userName" placeholder="Username" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control nzErrorTip="Please input your Password!">
            <nz-input-group nzPrefixIcon="lock">
              <input type="password" nz-input formControlName="password" placeholder="Password" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control>
            <button nz-button class="login-form-button" [nzType]="'primary'" (click)="handleLogin()">Log in</button>
            Or
            <a (click)="showReg()">register now!</a>
          </nz-form-control>
        </nz-form-item>
      </form>
    </div>
    <nz-modal [(nzVisible)]="regVisible" nzTitle="Register" nzOkText="Register" (nzOnOk)="handleRegister()" (nzOnCancel)="handleCancel()">
      <form nz-form [nzLayout]="'inline'" [formGroup]="regForm">
        <nz-form-item>
          <nz-form-control nzErrorTip="Please input your username!">
            <nz-input-group nzPrefixIcon="user">
              <input formControlName="userName" nz-input placeholder="Username" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control nzErrorTip="Please input your Password!">
            <nz-input-group nzPrefixIcon="lock">
              <input formControlName="password" nz-input type="password" placeholder="Password" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
      </form>
    </nz-modal>
  </nz-content>
</nz-layout>