<div [@select]="pieceState.selected ? 'selected' : 'unselected'" class="board">
    <table>
        <tbody>
            <tr *ngFor="let row of board; let rowIndex = index">
                <td *ngFor="let piece of row; let colIndex=index" (click)="cellClicked(rowIndex, colIndex)">
                    <ng-container *ngIf="piece.symbol">
                        <app-piece [piece]="piece" [turn]="turn"></app-piece>
                    </ng-container>
                </td>
            </tr>
        </tbody>
    </table>
</div>
