<div [@select]="pieceState.selected ? 'selected' : 'unselected'" class="board">
    <div nz-row>
        <div nz-col nzSpan="9">
            <table class="battlefield" id="theTable">
                <tbody>
                    <tr *ngFor="let row of board; let rowIndex = index">
                        <td *ngFor="let piece of row; let colIndex=index" 
                        [ngClass]="territory[rowIndex][colIndex]"
                        (click)="cellClicked(rowIndex, colIndex)"
												(click)="highlightCell($event)">
                            <ng-container *ngIf="piece.symbol">
                                <app-piece [piece]="piece" [turn]="turn"></app-piece>
                            </ng-container>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div nz-col nzSpan="12">
            <div nz-row class="upper-hand-piece">
                <table class="hand-pieces">
                    <tr *ngFor="let row of [0, 1, 2]; let rowIndex = index">
                        <td *ngFor="let column of [0, 1, 2, 3, 4, 5]; let colIndex=index" >
                            <ng-container *ngIf="!turn">
                                <ng-container *ngIf="secondPlayerHandPieces[rowIndex*6+colIndex]">
                                    <app-piece [piece]="secondPlayerHandPieces[rowIndex*6+colIndex]" [turn]="turn"
                                    (click)="handPieceClicked(secondPlayerHandPieces[rowIndex*6+colIndex])"
                                    ></app-piece>
                                </ng-container>
                            </ng-container>
                            <ng-container *ngIf="turn">
                                <ng-container *ngIf="firstPlayerHandPieces[rowIndex*6+colIndex]">
                                    <app-piece [piece]="firstPlayerHandPieces[rowIndex*6+colIndex]" [turn]="turn"
                                    (click)="handPieceClicked(firstPlayerHandPieces[rowIndex*6+colIndex])"
                                    ></app-piece>
                                </ng-container>
                            </ng-container>
                        </td>
                    </tr>
                </table>
            </div>
            <div nz-row class="lower-hand-piece">
                <table class="hand-pieces">
                    <tr *ngFor="let row of [0, 1, 2]; let rowIndex = index">
                        <td *ngFor="let column of [0, 1, 2, 3, 4, 5]; let colIndex=index">
                            <ng-container *ngIf="!turn">
                                <ng-container *ngIf="firstPlayerHandPieces[rowIndex*6+colIndex]">
                                    <app-piece [piece]="firstPlayerHandPieces[rowIndex*6+colIndex]" [turn]="turn"
                                    (click)="handPieceClicked(firstPlayerHandPieces[rowIndex*6+colIndex])"
                                    ></app-piece>
                                </ng-container>
                            </ng-container>
                            <ng-container *ngIf="turn">
                                <ng-container *ngIf="secondPlayerHandPieces[rowIndex*6+colIndex]">
                                    <app-piece [piece]="secondPlayerHandPieces[rowIndex*6+colIndex]" [turn]="turn"
                                    (click)="handPieceClicked(secondPlayerHandPieces[rowIndex*6+colIndex])"
                                    ></app-piece>
                                </ng-container>
                            </ng-container>

                        </td>
                    </tr>
                </table>

            </div>
        </div>
    </div>
</div>
